@(userForm: Form[controllers.UserController.UserForm])(implicit messages: Messages, flash: Flash)

@* テンプレートで利用可能なヘルパーをインポート *@
@import helper._

@main("ユーザ更新") {
    @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    @flash.get("error").map { message =>
        <div class="alert alert-danger" role="alert">
            @message
        </div>
    }

    <div class="container top-container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">ユーザー情報の更新</h3>
                    </div>
                    <div class="panel-body">
                    @form(routes.UserController.update, 'role -> "form") {
                        <fieldset>
                            <div class="form-group">
                            @inputText(userForm("username"), 'class -> "form-control", '_label -> null, 'placeholder -> "メールアドレス", '_showConstraints -> false)
                            </div>
                            <div class="form-group">
                            @inputText(userForm("email"), 'class -> "form-control", '_label -> null, 'placeholder -> "ヨミビトメイ", '_showConstraints -> false)
                            </div>
                            <div class="form-group">
                            @inputPassword(userForm("password"),'class -> "form-control", '_label -> null, 'placeholder -> "アイコトバ", '_showConstraints -> false)
                            </div>
                            <input type="submit" value="更新" class="btn btn-blue900_rsd btn-block">
                        </fieldset>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
}