@(userForm: Form[controllers.UserController.UserForm])(implicit messages: Messages, flash: Flash)
@import helper._

@main("Tankker") {
@flash.get("success").map { message =>
            <div class="alert alert-success" role="alert">
                @message
            </div>
        }

        @flash.get("error").map { message =>
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }

     <div class="container top-container">
            <div class="row">
                <div class="col-md-8">
                    <div class="lp-explanation">
                        <div class="lp-title">
                            <h2>Tanka is Beautiful.</h2>
                        </div>
                        <div class="lp-detail">
                            <p><span class="logo-in-detail">Tankker</span>は世界ではじめての,短歌でコミュニケーションをとるSNSです.</p>
                            <p>上の句や下の句を詠むことで,世界中の人と交流することができます.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">ようこそ <span id="logo">Tankker</span> の世界へ</h3>
                        </div>
                        <div class="panel-body">
                            @form(routes.UserController.create, 'role -> "form") {
                                <fieldset>
                                    <div class="form-group">
                                    @inputText(userForm("email"), 'class -> "form-control", '_label -> null, 'placeholder -> "メールアドレス", '_showConstraints -> false)
                                    </div>
                                    <div class="form-group">
                                    @inputText(userForm("username"), 'class -> "form-control", '_label -> null, 'placeholder -> "歌人名 (半角16文字以下)", '_showConstraints -> false)
                                    </div>
                                    <div class="form-group">
                                    @inputPassword(userForm("password"),'class -> "form-control", '_label -> null, 'placeholder -> "パスワード (半角8文字以上,16文字以下)", '_showConstraints -> false)
                                    </div>
                                    <input type="submit" value="Tankkerをはじめる" class="btn btn-blue900_rsd btn-block">
                                    <p>以前に登録した? <a href="@routes.LoginController.brandNew">ログインする</a></p>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

