@(user: models.Tables.UserRow, firstPartForm: Form[controllers.FirstPartController.FirstPartForm], tankas: Seq[(Tables.FirstPartRow, Seq[Tables.LastPartRow])])(implicit messages: Messages, flash: Flash)
@import helper._

@main("ユーザー詳細") {
    @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }

    @flash.get("error").map { message =>
        <div class="alert alert-danger" role="alert">
            @message
        </div>
    }

    <div class="col-xs-6">
        @form(routes.FirstPartController.create) {
            <fieldset>
                <div class="form-group">
                @inputText(firstPartForm("firstPartContentFirst"), '_label -> "初句")
                </div>
                <div class="form-group">
                @inputText(firstPartForm("firstPartContentSecond"), '_label -> "二句")
                </div>
                <div class="form-group">
                @inputText(firstPartForm("firstPartContentThird"), '_label -> "三句")
                </div>
                <input type="hidden" name="userId" value="@user.id" />
                <div>
                    <input type="submit" value="保存" class="btn btn-success">
                </div>
            </fieldset>
        }


        <table class="table table-hover">
            <thead>
                <tr>
                    <th>初句</th>
                    <th>二句</th>
                    <th>三句</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @tankas.map{ tanka  =>
                    <tr>
                        <td>@tanka._1.firstPartContentFirst</td>
                        <td>@tanka._1.firstPartContentSecond</td>
                        <td>@tanka._1.firstPartContentThird</td>
                        <td><a href="@routes.LastPartController.brandNew(tanka._1.id.toLong)">
                            <input type="submit" value="返歌" class="btn btn-danger btn-xs"/>
                        </a>
                        <td><a href="@routes.FirstPartController.edit(tanka._1.id.toLong)">
                            <input type="submit" value="編集" class="btn btn-danger btn-xs"/>
                        </a>
                        </td>
                        <td>@helper.form(routes.FirstPartController.delete(tanka._1.id)) {
                            <input type="submit" value="削除" class="btn btn-danger btn-xs"/>
                        }
                        </td>
                    </tr>
                  @tanka._2.map{ henka =>
                      <tr>
                          <td>@henka.lastPartContentFirst</td>
                          <td>@henka.lastPartContentSecond</td>
                          <td>"後で直す"</td>
                          <td><a href="@routes.LastPartController.edit(henka.id.toLong)">
                              <input type="submit" value="編集" class="btn btn-danger btn-xs"/>
                          </a>
                      <td>@helper.form(routes.LastPartController.delete(henka.id.toLong)) {
                          <input type="submit" value="削除" class="btn btn-danger btn-xs"/>
                      }
                      </td>
                          <td>あとで直す</td>
                      </tr>
                  }
                }
            </tbody>
        </table>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@user.id</td>
                    <td>@user.username</td>
                    <td>@user.email</td>
                    <td>@helper.form(routes.UserController.edit) {
                        <input type="submit" value="編集" class="btn btn-danger btn-xs"/>
                    }
                    </td>
                    <td>@helper.form(routes.UserController.delete) {
                        <input type="submit" value="削除" class="btn btn-danger btn-xs"/>
                    }
                    </td>
                </tr>
            </tbody>
        </table>

        <a href="@routes.LoginController.delete">ログアウト</a>
    </div>
}

