@(carrier: views.models.UserShowCarrier)(implicit messages: Messages, flash: Flash)
    @import helper._

    @main("歌人詳細") {
        @flash.get("success").map { message =>
            <div class="alert alert-success" role="alert">
                @message
            </div>
        }

        @flash.get("error").map { message =>
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }

        <div class="container top-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row profile-container">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="profile-image" src="/assets/images/profile@{
                                        carrier.requestedUser.id % 10
                                    }.jpg" alt="basho">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 profile-name">
                                    <a href="@routes.UserController.show(carrier.requestedUser.username)">@@@carrier.requestedUser.username</a>
                                </div>
                            </div>
                            <div class="row number-row">
                                <div class="col-md-4 profile-number">
                                    <h3>短歌</h3>
                                    <a href="@routes.UserController.show(carrier.requestedUser.username)">@carrier.userNumbers._1</a>
                                </div>
                                <div class="col-md-4 profile-number">
                                    <h3>追随者</h3>
                                    <a href="@routes.FollowingController.followingIndex(carrier.requestedUser.id)">@carrier.userNumbers._2</a>
                                </div>
                                <div class="col-md-4 profile-number">
                                    <h3>被追随者</h3>
                                    <a href="@routes.FollowingController.followerIndex(carrier.requestedUser.id)">@carrier.userNumbers._3</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            @if(!carrier.isMyself && !carrier.isFollowing) {
                                @helper.form(routes.FollowingController.create(carrier.requestedUser.id.toLong)) {
                                    <input type="submit" value="追随する" class="btn btn-blue900_rsd btn-block">
                                }
                            }

                            @if(!carrier.isMyself && carrier.isFollowing) {
                                @helper.form(routes.FollowingController.delete(carrier.requestedUser.id.toLong)) {
                                    <input type="submit" value="追随を解除" class="btn btn-blue900_rsd btn-block">
                                    }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-6 timeline-container">
                                    <a href="@routes.UserController.show(carrier.requestedUser.username)" class="user-show-nav">詠んだ上の句</a>
                                </div>
                                <div class="col-md-6 timeline-container">
                                    <a href="@routes.UserController.henkas(carrier.requestedUser.username)" class="user-show-nav">詠んだ下の句</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @carrier.tankas.map { tanka =>
                        @if(tanka._1._1.isDefined) {
                            <div class="row tweet-top">
                                <div class="col-md-10 col-md-offset-1 timeline-container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img class="tweet-image" src="/assets/images/profile@{
                                                        tanka._1._2.id % 10
                                                    }.jpg" alt="basho">
                                                </div>
                                                <div class="col-md-12 tweet-profile-top">
                                                    <a href="@routes.UserController.show(carrier.requestedUser.username)"> @@@carrier.requestedUser.username</a>
                                                </div>
                                                <div class="col-md-12 tweet-profile-bottom">
                                                    <p>@tanka._1._1.get.createdAt.toLocalDateTime.toLocalDate</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row tweet-content">
                                                <div class="col-md-12">
                                                    <p>@tanka._1._1.get.firstPartContentFirst</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p>@tanka._1._1.get.firstPartContentSecond</p>
                                                </div>
                                                <div class="col-md-12">
                                                    <p>@tanka._1._1.get.firstPartContentThird</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="@routes.LastPartController.brandNew(tanka._1._1.get.id.toLong)"><img class="tweet-icon" src="@routes.Assets.at("images/henka.png")"></a>
                                                </div>
                                                <div class="col-md-4">
                                                @if(carrier.currentUser.id == tanka._1._1.get.userId) {
                                                    <a href="@routes.FirstPartController.edit(tanka._1._1.get.id.toLong)"><img class="tweet-icon" src="@routes.Assets.at("images/edit.png")"></a>
                                                }
                                                </div>
                                                <div class="col-md-4">
                                                @if(carrier.currentUser.id == tanka._1._1.get.userId) {
                                                    @helper.form(routes.FirstPartController.delete(tanka._1._1.get.id.toLong)) {
                                                        <input type="image" src="@routes.Assets.at("images/delete.png")" class="tweet-icon"/>
                                                    }
                                                }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @tanka._2.map { henka =>
                            @if(henka._1.isDefined) {
                                <div class="row henka-top">
                                    <div class="col-md-10 col-md-offset-1 timeline-container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <img class="tweet-image" src="/assets/images/profile@{
                                                            henka._2.get.id % 10
                                                        }.jpg" alt="basho">
                                                    </div>
                                                    <div class="col-md-12 tweet-profile-top">
                                                        <a href="@routes.UserController.show(henka._2.get.username)">@@@henka._2.get.username</a>
                                                    </div>
                                                    <div class="col-md-12 tweet-profile-bottom">
                                                        <p>@henka._1.get.createdAt.toLocalDateTime.toLocalDate</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row tweet-content">
                                                    <div class="col-md-12">
                                                        <p>@henka._1.get.lastPartContentFirst</p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <p>@henka._1.get.lastPartContentSecond</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                    </div>
                                                    <div class="col-md-4">
                                                    @if(carrier.currentUser.id == henka._1.get.userId) {
                                                        <a href="@routes.LastPartController.edit(henka._1.get.id.toLong)"><img class="tweet-icon" src="@routes.Assets.at("images/edit.png")"></a>
                                                    }
                                                    </div>
                                                    <div class="col-md-4">
                                                    @if(carrier.currentUser.id == henka._1.get.userId) {
                                                        @helper.form(routes.LastPartController.delete(henka._1.get.id.toLong)) {
                                                            <input type="image" src="@routes.Assets.at("images/delete.png")" class="tweet-icon"/>
                                                        }
                                                    }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="row timeline-container">
                            <div class="row">
                                <div class="col-md-12">
                                    <spna class="recommended-user-title">あなたにおすすめの歌人</spna>
                                </div>
                            </div>
                        @carrier.unfollowingUsers.map { unfollowingUser =>
                            <div class="row recommended-user">
                                <div class="col-md-12">
                                        <div class="row">
                                        <div class="col-md-5">
                                            <img class="recommended-profile-image" src="/assets/images/profile@{
                                                unfollowingUser.id % 10
                                            }.jpg" alt="basho">
                                        </div>
                                        <div class="col-md-7 recommended-profile-name">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a href="@routes.UserController.show(unfollowingUser.username)">@@@unfollowingUser.username</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @helper.form(routes.FollowingController.create(unfollowingUser.id.toLong)) {
                                                        <input type="submit" value="追随する" class="btn btn-blue900_rsd btn-block">
                                                        }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

