@(title: String)(content: Html)


<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cb-materialbtn.min.css")">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    </head>
    <body style="background-color : #F5F8FA">
        <div id="wrap">
            <header>
                <nav class="clearfix">
                    <ul>
                        <li class="nav-item-left">
                            <a href="@routes.TimelineController.show">
                                <img class="header-img" src="@routes.Assets.at("images/hude.png")">
                            </a>
                        </li>
                        <li class="nav-item-left">
                            <a class="header-logo" href="@routes.TimelineController.show">
                            Tankker
                            </a>
                        </li>
                        @if(!title.equals("ログイン") && !title.equals("ヨミビト新規作成")) {
                            <li class="nav-item-right">
                                <a class="logout" href="@routes.LoginController.delete">ログアウト</a>
                            </li>
                        }
                    </ul>
                </nav>
            </header>

            <div id="contents">
            @content
            </div>

            <footer>
                <a href="https://jp.linkedin.com/in/kitagawa-shuhei-5278a272">Copyright &copy; 2016 Shuhei Kitagawa All Rights Reserved.</a>
            </footer>
        </div>
    </body>
</html>
