@(title: String)(content: Html)


<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cb-materialbtn.min.css")">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#firstPartForm").validate({
                    rules : {
                        firstPartContentFirst: {
                            required: true,
                            minlength: 2,
                            maxlength: 15
                        },
                        firstPartContentSecond: {
                            required: true,
                            minlength: 3,
                            maxlength: 20
                        },
                        firstPartContentThird: {
                            required: true,
                            minlength: 2,
                            maxlength: 15
                        }
                    },
                    messages: {
                        firstPartContentFirst: {
                            required: "このフィールドの入力は必須です",
                            minlength: "2文字以上入力してください",
                            maxlength: "15文字以内で入力してください"
                        },
                        firstPartContentSecond: {
                            required: "このフィールドの入力は必須です",
                            minlength: "3文字以上入力してください",
                            maxlength: "20文字以内で入力してください"
                        },
                        firstPartContentThird: {
                            required: "このフィールドの入力は必須です",
                            minlength: "2文字以上入力してください",
                            maxlength: "15文字以内で入力してください"
                        }
                    }
                });
                $("#lastPartForm").validate({
                    rules : {
                        lastPartContentFirst: {
                            required: true,
                            minlength: 2,
                            maxlength: 15
                        },
                        lastPartContentSecond: {
                            required: true,
                            minlength: 3,
                            maxlength: 20
                        }
                    },
                    messages: {
                        lastPartContentFirst: {
                            required: "このフィールドの入力は必須です",
                            minlength: "3文字以上入力してください",
                            maxlength: "20文字以内で入力してください"
                        },
                        lastPartContentSecond: {
                            required: "このフィールドの入力は必須です",
                            minlength: "3文字以上入力してください",
                            maxlength: "20文字以内で入力してください"
                        }
                    }
                });
            });
    </script>
    </head>

    @if(title.equals("Tankker")){
        <body class="register">
    }else{
        @if(title.equals("Secret")){
            <body class="tinder">
        }else{
            <body style="background-color : #F5F8FA">
        }
    }

        <div id="wrap">
            <header>
                <nav class="clearfix">
                    <ul>
                        <li class="nav-item-left">
                            <a href="@routes.TimelineController.show">
                                <img class="header-img" src="@routes.Assets.at("images/hude.png")">
                            </a>
                        </li>
                        <li class="nav-item-left">
                            <a class="header-logo" href="@routes.TimelineController.show">
                            Tankker
                            </a>
                        </li>
                        @if(!title.equals("ログイン") && !title.equals("Tankker")) {
                            <li class="nav-item-right">
                                <a class="logout" href="@routes.LoginController.delete">ログアウト</a>
                            </li>
                            <li class="nav-item-right">
                                <a class="logout" href="@routes.UserController.edit">歌人情報</a>
                            </li>
                        }
                    </ul>
                </nav>
            </header>

            <div id="contents">
            @content
            </div>

            <footer>
                <a href="https://jp.linkedin.com/in/kitagawa-shuhei-5278a272">Copyright &copy; 2016 Shuhei Kitagawa All Rights Reserved.</a>
            </footer>
        </div>
    </body>
</html>
