@(currentUserId: Long, userId: Long, followings: Seq[(Tables.UserRow, (Int, Int, Int))])(implicit messages: Messages, flash: Flash)

    @main("追随者一覧") {
        @flash.get("success").map { message =>
            <div class="alert alert-success" role="alert">
                @message
            </div>
        }

        @flash.get("error").map { message =>
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }

        <div class="container top-container">
            <div class="row">
            @followings.map { following =>
                <div class="col-md-3 col-md-offset-1">
                    <div class="row profile-container following-index">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="profile-image" src="/assets/images/profile@{following._1.id % 10}.jpg" alt="basho">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 profile-name">
                                    <a href="@routes.UserController.show(following._1.username)">@@@following._1.username</a>
                                </div>
                            </div>
                            <div class="row number-row">
                                <div class="col-md-4 profile-number">
                                    <h3>短歌</h3>
                                    <a href="@routes.UserController.show(following._1.username)">@following._2._1</a>
                                </div>
                                <div class="col-md-4 profile-number">
                                    <h3>追随者</h3>
                                    <a href="@routes.FollowingController.followingIndex(following._1.id)">@following._2._2</a>
                                </div>
                                <div class="col-md-4 profile-number">
                                    <h3>被追随者</h3>
                                    <a href="@routes.FollowingController.followerIndex(following._1.id)">@following._2._3</a>
                                </div>
                            </div>
                        </div>

                        @if(currentUserId == userId) {
                        <div class="col-md-12">
                        @helper.form(routes.FollowingController.delete(following._1.id)) {
                            <input type="submit" value="追随を解除" class="btn btn-blue900_rsd btn-block">
                            }
                        </div>
                        }
                    </div>
                </div>
            }
            </div>
        </div>

    }