@(currentUserId: Long, userId: Long, followers: Seq[(Tables.UserRow, (Int, Int, Int))])(implicit messages: Messages, flash: Flash)

    @main("フォロワー一覧") {
        @flash.get("success").map { message =>
            <div class="alert alert-success" role="alert">
                @message
            </div>
        }

        @flash.get("error").map { message =>
            <div class="alert alert-danger" role="alert">
                @message
            </div>
        }


        <div class="container top-container">
            <div class="row">
            @followers.map { follower =>
                <div class="col-md-3">
                    <div class="row profile-container following-index">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="profile-image" src="https://pbs.twimg.com/profile_images/442670117285933056/rA0-lbNb.jpeg" alt="basho">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 profile-name">
                                    <a href="@routes.UserController.show(follower._1.username)">@@@follower._1.username</a>
                                </div>
                            </div>
                            <div class="row number-row">
                                <div class="col-md-4 profile-number">
                                    <h3>ツイート</h3>
                                    <a href="@routes.UserController.show(follower._1.username)">@follower._2._1</a>
                                </div>
                                <div class="col-md-4 profile-number">
                                    <h3>フォロー</h3>
                                    <a href="@routes.FollowingController.followingIndex(follower._1.id)">@follower._2._2</a>
                                </div>
                                <div class="col-md-4 profile-number">
                                    <h3>フォロワー</h3>
                                    <a href="@routes.FollowingController.followerIndex(follower._1.id)">@follower._2._3</a>
                                </div>
                            </div>
                        </div>

                        @if(currentUserId == userId) {
                            <div class="col-md-12">
                            @helper.form(routes.FollowingController.block(follower._1.id)) {
                                <input type="submit" value="フォローをブロック" class="btn btn-blue900_rsd btn-block"/>
                            }
                            </div>
                        }
                    </div>
                </div>
            }
            </div>
        </div>
    }
